@import "./base-color.css";

:root {
  --primary-text-color: var(--color-primary);

  --card-bg-color: var(--color-background-secondary);

  --card-title-color: var(--color-text);

  --card-content-color: var(--color-text-secondary);

  --card-border-color: var(--color-border);

  --card-shadow-color: var(--color-shadow);

  --sider-bg-color: var(--color-primary);

  --menu-text-color: var(--color-special);

  --menu-icon-color: var(--color-special);
  

}

.dark {
  --primary-text-color: var(--color-primary);

  --card-bg-color: var(--color-background);

  --card-title-color: var(--color-text);

  --card-content-color: var(--color-text-secondary);

  --card-border-color: var(--color-border);

  --card-shadow-color: var(--color-shadow);

  --sider-bg-color: var(--color-primary);

  --menu-text-color: var(--color-special);

  --menu-icon-color: var(--color-special);


}
